body {
    font-family: 'Volkhov', serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 40px;
}

h2 {
    font-size: 1rem;
    padding: 0% 5%;
    margin-bottom: 30px;
    max-width: 350px;
}

#presidents-container {
    width: 100%
}

.presidents {
    position: relative;
}

.presidents img {
    display: block;
    width: 100%;
    object-fit: cover;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

.presidents p {
    position: absolute;
    z-index: 3;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    left: 20px;
    top: -5px;
}

.presidents:hover img {
    opacity: .75;
} 

@media screen and (min-width: 720px) {
    .presidents img {
        height: 500px;
        object-fit: cover;
    }

    #presidents-container {
        display: flex;
    }

    .presidents p {
        font-size: 1.2rem;
        left: 0px;
    }

    h2 {
        max-width: 100%;
        text-align: center;
    }
}